<%- include('./layout/head') %>
    <form class="" action="/new" method="post">
      <div class="input-field">
        <label for="name">Nome</label>
        <input type="text" name="name" id="name" value="">
      </div>
      <div class="input-field">
        <label for="email">E-mail</label>
        <input type="text" name="email" id="email" value="">
      </div>
      <input class="btn red" type="submit" name="" value="Salvar">
    </form>
    <p><a href="/" class="btn">Voltar</a></p>
<%- include('./layout/footer') %>
